<!-- noJobListings.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>No Job Listings Found</title>
</head>
<body>
  <h1>No Job Listings Found</h1>
  <p>Sorry, but there are no job listings available at the moment.</p>
 
</body>
</html>
